<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @challenge_type.name %>
</p>

<%= link_to 'Edit', edit_challenge_type_path(@challenge_type) %> |
<%= link_to 'Back', challenge_types_path %>
